.book-item {
  border-bottom: 1px solid #E0E0E0;
}
.admin-container {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  background-color: #F9FDFF;
  box-shadow: 0px 0px 2px 2px #E0E0E0;
}

.book-container {
  max-height: 300px;
  overflow: scroll;
}

.book-item {
  height: 150px;
}

.row {
  padding: 10px;
}
