.splash-section {
  width: 50%;
  margin: auto;
  color: #990000;
  font-family: 'Courier New';
  font-weight: 700;
}
span {
  padding: 15px
}

.app-bar {
  background-color: #1DE9B6;
  border: 1px solid #E0E0E0;
}

.splash-container {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 2px 2px #E0E0E0;
  background-color: #ECEFF1;
}

select {
  width: 50px
}

.splash-row {
  padding:15px;
}
